img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}
.container {
  text-align: center;
}

.about-us {
  background-color: red;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-img-overlay {
  color: white;
}
